@import "../../css/exports.less";

.view-container {
  min-height: 1300px;
  z-index: 1;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 95px 95px 50.5px 95px;
  // border: 1px solid red;
}

.background-blur {
  background-color: rgba(0, 0, 0, 0.2);
}
