.widget-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 121px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 117px;
}
.widget-container :last-child {
  border-right: none;
}
.widget {
  border-right: 1px solid #e1e1e1;
  width: 191px;
  height: 84px;
  margin: 24px;
}
.widget-name {
  color: #101542;
  opacity: 0.5;
  font-size: 10px;
  font-weight: 600;
  text-align: left;
  width: 102px;
  height: 28px;
}
.widget-number {
  color: #0d1135;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  height: 27px;
}
.widget-graph-container {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1px;
}
.widget-label {
  color: #171e5b;
  opacity: 0.5;
  font-size: 8px;
  font-weight: bold;
  text-align: left;
  width: 40%;
}
.widget-progress {
  background-color: #8c94de;
  border-radius: 32px;
  width: 50%;
}
.progress-bottom {
  background-color: #6ac190;
}
