body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f7fafc;
}
.App {
  width: 1366px;
  height: 768px;
  border: 1px solid #e1e1e1;
  margin: 0 auto;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}
