.document-exchange-container {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  width: 499px;
  height: 353px;
  position: absolute;
  right: 0;
  top: 218px;
}

.document-exchange-positioner {
  color: #101542;
  opacity: 0.5;
  margin: 13px 16px;
  font-size: 10px;
  font-weight: 600;
}

.document-list-container {
  display: block;
}

#react-file-drop-demo {
  width: 456px;
  height: 60px;
  color: #95989a;
  font-size: 10px;
  font-weight: 600;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

// .file-drop-target {
//   display: flex;
// }

.document-exchange-upload {
  width: 26.5px;
  height: 26.5px;
  margin-right: 6px;
}

.document-exchange-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
// .document-list-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.document-list-item {
  width: 484px;
  display: flex;
  justify-content: left;
  border-bottom: 1px solid #e1e1e1;
  margin: 20px 0px -3px 0px;
}
.document-list-img {
  width: 28.4px;
  height: 37px;
  margin-bottom: 8px;
}
.document-list-title {
  color: #0d1135;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  margin-left: 7px;
  margin-top: 3px;
  height: 20px;
}

.document-list-date {
  color: #0d1135;
  opacity: 0.8;
  font-size: 12px;
  text-align: left;
  height: 17px;
}
