.footer-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
  color: #95989a;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
}
.footer-left {
  height: 17px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  border-right: 1px solid lightgrey;
}
.footer-left img {
  max-height: 100%;
}
.footer-left {
  color: #95989a;
  padding-left: 40px;
  padding-right: 40px;
  white-space: nowrap;
  height: 17px;
  text-align: center;
  font-weight: 400;
}
.footer-left .footer-right-tabs {
  color: #95989a;
  white-space: nowrap;
  height: 17px;
  text-align: center;
  font-weight: 400;
}
.navbar-tabs-container {
  margin-right: 78px;
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-container a:visited {
  color: #95989a;
  text-decoration: none;
}
.footer-right-tabs a:visited {
  color: #95989a;
  text-decoration: none;
}
.footer-right-tabs a:hover {
  color: #101542;
  text-decoration: none;
  font-weight: 600;
}
.footer-container a:hover {
  color: #101542;
  text-decoration: none;
  font-weight: 600;
}
